@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-twoslash/twoslash.css";

@source '../node_modules/fumadocs-ui/dist/**/*.js';

:root {
  --color-fd-background: hsl(60, 5%, 96%);
  --color-fd-foreground: hsl(24, 10%, 10%);
  --color-fd-muted: hsl(20, 6%, 90%);
  --color-fd-muted-foreground: hsl(33, 5%, 32%);
  --color-fd-card: hsl(20, 6%, 90%);
  --color-fd-card-foreground: hsl(24, 10%, 10%);
  --color-fd-popover: hsl(60, 9%, 98%);
  --color-fd-popover-foreground: hsl(24, 10%, 10%);
  --color-fd-border: hsl(24, 6%, 83%);
  --color-fd-secondary: hsl(20, 6%, 90%);
  --color-fd-secondary-foreground: hsl(24, 10%, 10%);
  --color-fd-accent: hsl(24, 6%, 83%);
  --color-fd-accent-foreground: hsl(24, 10%, 10%);

  --color-fd-primary: hsl(48, 100%, 24%);
  --color-fd-primary-foreground: hsl(60, 9%, 98%);
  --color-fd-ring: hsl(48, 100%, 50%);
}

.dark {
  --color-fd-background: hsl(20, 14%, 4%);
  --color-fd-foreground: hsl(60, 9%, 98%);
  --color-fd-muted: hsl(12, 6%, 15%);
  --color-fd-muted-foreground: hsl(24, 5%, 64%);
  --color-fd-card: hsl(24, 10%, 10%);
  --color-fd-card-foreground: hsl(60, 9%, 98%);
  --color-fd-popover: hsl(12, 6%, 15%);
  --color-fd-popover-foreground: hsl(60, 9%, 98%);
  --color-fd-border: hsla(30, 6%, 25%, 0.7);
  --color-fd-secondary: hsl(12, 6%, 15%);
  --color-fd-secondary-foreground: hsl(60, 9%, 98%);
  --color-fd-accent: hsla(30, 6%, 25%, 0.5);
  --color-fd-accent-foreground: hsl(60, 9%, 98%);

  --color-fd-primary: hsl(52, 85%, 62%);
  --color-fd-primary-foreground: hsl(24, 10%, 10%);
  --color-fd-ring: hsl(48, 100%, 50%);
}
